<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= raw EmailTemplate.find(Setting.find_by_key('email_template').value.to_i).content %>
  </body>
</html>
